@font-face {
  font-family: 'Nunito';
  src: url('~@/assets/fonts/nunito/Nunito-ExtraLightItalic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('~@/assets/fonts/nunito/Nunito-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('~@/assets/fonts/nunito/Nunito-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('~@/assets/fonts/nunito/Nunito-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('~@/assets/fonts/nunito/Nunito-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('~@/assets/fonts/nunito/Nunito-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('~@/assets/fonts/nunito/Nunito-ExtraBoldItalic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('~@/assets/fonts/nunito/Nunito-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('~@/assets/fonts/nunito/Nunito-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('~@/assets/fonts/nunito/Nunito-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('~@/assets/fonts/nunito/Nunito-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('~@/assets/fonts/nunito/Nunito-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('~@/assets/fonts/nunito/Nunito-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('~@/assets/fonts/nunito/Nunito-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Zilla Slab';
  src: url('~@/assets/fonts/zilla-slab/ZillaSlab-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Zilla Slab';
  src: url('~@/assets/fonts/zilla-slab/ZillaSlab-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Zilla Slab';
  src: url('~@/assets/fonts/zilla-slab/ZillaSlab-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Zilla Slab';
  src: url('~@/assets/fonts/zilla-slab/ZillaSlab-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Zilla Slab';
  src: url('~@/assets/fonts/zilla-slab/ZillaSlab-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Zilla Slab';
  src: url('~@/assets/fonts/zilla-slab/ZillaSlab-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Zilla Slab';
  src: url('~@/assets/fonts/zilla-slab/ZillaSlab-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Zilla Slab';
  src: url('~@/assets/fonts/zilla-slab/ZillaSlab-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Zilla Slab';
  src: url('~@/assets/fonts/zilla-slab/ZillaSlab-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Zilla Slab';
  src: url('~@/assets/fonts/zilla-slab/ZillaSlab-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

